@import "../sass/base";
@import "../sass/navbar";
@import "../sass/report";
@import "../sass/material";
@import "../sass/info";
@import "../sass/create";
@import "../sass/crop";
@import "../sass/faqs";
