@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:400,900");
body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #E3F2FD;
  font-family: 'Roboto'; }

.hatespeech-wrapper,
.settings-wrapper,
.report-wrapper,
.faqs-wrapper,
.info-wrapper,
.annotator-wrapper {
  margin: 25px 0px 60px 0px; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

hr {
  border-color: #E3F2FD;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0; }

.swal2-title .float-report-url {
  word-break: break-all !important;
  white-space: pre-wrap !important;
  overflow-wrap: break-word !important; }

.swal2-modal {
  -webkit-border-radius: 0px !important;
          border-radius: 0px !important; }

button.swal2-styled {
  -webkit-border-radius: 0px !important;
          border-radius: 0px !important; }

select.swal2-select {
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: solid 1px rgba(48, 60, 76, 0.5);
  height: 40px !important;
  font-size: 17px !important; }

.swal2-modal .swal2-validationerror {
  margin-top: 15px !important; }

.navbar {
  background-color: #1565C0;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px; }
  .navbar .navbar-toggle {
    border: none; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  -webkit-border-radius: 0px;
          border-radius: 0px;
  background-color: #1565C0; }

.reports-edit-button.edit-mode {
  color: rgba(227, 242, 253, 0.5); }

.back-button,
.settings-back-button,
.edit-back-button,
.reports-edit-button {
  float: left;
  padding: 6px 10px;
  margin-left: 20px;
  color: #E3F2FD;
  font-size: 15px;
  display: none; }
  .back-button:hover,
  .settings-back-button:hover,
  .edit-back-button:hover,
  .reports-edit-button:hover {
    background-color: #1565C0; }
  .back-button.active,
  .settings-back-button.active,
  .edit-back-button.active,
  .reports-edit-button.active {
    display: block; }

.report-url-button,
.reports-edit-button {
  float: right;
  padding: 3px 10px;
  color: #E3F2FD;
  font-size: 20px;
  display: none; }
  .report-url-button:hover,
  .reports-edit-button:hover {
    background-color: #1565C0; }
  .report-url-button.active,
  .reports-edit-button.active {
    display: block; }

.navbar-fixed-top .col-xs-4 {
  margin: 0px;
  padding: 0px; }

.page-title {
  text-align: center;
  padding: 12px 0px;
  color: #E3F2FD;
  font-size: 18px;
  font-family: 'Fredoka One'; }

.navbar-bottom {
  background-color: #1565C0;
  height: 45px; }
  .navbar-bottom .container-fluid,
  .navbar-bottom .row,
  .navbar-bottom .col-xs-3 {
    height: 100% !important;
    padding: 0px;
    margin: 0px; }
  .navbar-bottom .tab-button {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: #E3F2FD; }
    .navbar-bottom .tab-button:hover {
      cursor: pointer; }
    .navbar-bottom .tab-button.active {
      background-color: #1E88E5; }

.report-wrapper {
  margin-top: 60px; }

.mandola-option {
  font-size: 25px !important; }

.list .report-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  padding: 10px 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #FAFAF8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
  cursor: pointer; }
  .list .report-item.edit-item {
    background-color: #8389A9; }
  .list .report-item:hover, .list .report-item:focus {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px; }
  .list .report-item .source-icon {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #1565C0;
    margin-right: 15px;
    position: relative; }
    .list .report-item .source-icon .report-browser {
      position: absolute;
      top: 4px;
      left: 7px;
      color: rgba(250, 250, 248, 0.7); }
    .list .report-item .source-icon .report-image {
      position: absolute;
      top: 3px;
      left: 4px;
      color: rgba(250, 250, 248, 0.7); }
  .list .report-item .report-info .report-title {
    font-weight: bolder;
    color: #303C4C; }
  .list .report-item .report-info .report-content {
    color: #303C4C; }
  .list .report-item .report-info .report-date {
    color: #8389A9; }

.list .host-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  padding: 10px 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-color: #FAFAF8;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
  cursor: pointer; }
  .list .host-item:hover, .list .host-item:focus {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
            box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px; }
  .list .host-item .source-icon {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #1565C0;
    margin-right: 15px;
    position: relative; }
    .list .host-item .source-icon .report-browser {
      position: absolute;
      top: 4px;
      left: 7px;
      color: rgba(250, 250, 248, 0.7); }
  .list .host-item .host-info .host-name {
    font-weight: bolder;
    color: #303C4C; }
  .list .host-item .host-info .host-count {
    color: #8389A9; }

.sort-action {
  display: inline-block;
  position: fixed;
  width: 70px;
  height: 70px;
  margin: 300px 0 0 -28px;
  right: 20px;
  bottom: 60px; }
  .sort-action .sort-button {
    position: fixed;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 0;
    outline: 0;
    background: #AB434E;
    font-size: 24px;
    color: white;
    z-index: 2;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .sort-action .actions {
    position: absolute;
    list-style: none inside none;
    margin: 0 0 0 0;
    padding: 0;
    width: auto;
    float: left;
    background-color: transparent;
    top: 8px;
    left: 15px;
    z-index: 1;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .sort-action .actions:hover {
      cursor: pointer; }
    .sort-action .actions li {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
              box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      margin: 0;
      background: #212121;
      color: #ffffff;
      -webkit-transition: all .3s;
      transition: all .3s;
      -webkit-transform: scale(0.3);
          -ms-transform: scale(0.3);
              transform: scale(0.3);
      background-color: #AB434E; }
      .sort-action .actions li a {
        background: inherit;
        color: inherit;
        display: block;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        line-height: 40px;
        text-align: center; }
      .sort-action .actions li:pressed {
        -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .sort-action .sort-button.pressed {
    -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24); }
    .sort-action .sort-button.pressed ~ .actions li {
      -webkit-transition: all .3s;
      transition: all .3s;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
      .sort-action .sort-button.pressed ~ .actions li:nth-child(1) {
        margin-top: -56px; }
      .sort-action .sort-button.pressed ~ .actions li:nth-child(2) {
        margin-top: -104px; }
      .sort-action .sort-button.pressed ~ .actions li:nth-child(3) {
        margin-top: -152px; }
      .sort-action .sort-button.pressed ~ .actions li:nth-child(4) {
        margin-top: -200px; }
      .sort-action .sort-button.pressed ~ .actions li:nth-child(5) {
        margin-top: -248px; }
  .sort-action .sort-button i {
    -webkit-transition: all .3s;
    transition: all .3s; }
  .sort-action .sort-button.pressed:not(.no-rotate) i {
    -webkit-transform: scale(1.5) rotate(-45deg);
        -ms-transform: scale(1.5) rotate(-45deg);
            transform: scale(1.5) rotate(-45deg); }

.report-action {
  display: inline-block;
  position: fixed;
  width: 70px;
  height: 70px;
  margin: 300px 0 0 -28px;
  right: 20px;
  bottom: 60px; }
  .report-action .menu-button {
    position: fixed;
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 0;
    outline: 0;
    background: #56C1F9;
    font-size: 24px;
    color: white;
    z-index: 2;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -webkit-transition: all .3s;
    transition: all .3s; }
  .report-action .actions {
    position: absolute;
    list-style: none inside none;
    margin: 0 0 0 0;
    padding: 0;
    width: auto;
    float: left;
    background-color: transparent;
    top: 8px;
    left: 15px;
    z-index: 1;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
    .report-action .actions:hover {
      cursor: pointer; }
    .report-action .actions li {
      position: absolute;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
              box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      margin: 0;
      background: #212121;
      color: #ffffff;
      -webkit-transition: all .3s;
      transition: all .3s;
      -webkit-transform: scale(0.3);
          -ms-transform: scale(0.3);
              transform: scale(0.3);
      background-color: #56C1F9; }
      .report-action .actions li a {
        background: inherit;
        color: inherit;
        display: block;
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        line-height: 40px;
        text-align: center; }
      .report-action .actions li:pressed {
        -webkit-box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2); }
  .report-action .menu-button.pressed {
    -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
            box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24); }
    .report-action .menu-button.pressed ~ .actions li {
      -webkit-transition: all .3s;
      transition: all .3s;
      -webkit-transform: scale(1);
          -ms-transform: scale(1);
              transform: scale(1); }
      .report-action .menu-button.pressed ~ .actions li:nth-child(1) {
        margin-top: -56px; }
      .report-action .menu-button.pressed ~ .actions li:nth-child(2) {
        margin-top: -104px; }
      .report-action .menu-button.pressed ~ .actions li:nth-child(3) {
        margin-top: -152px; }
      .report-action .menu-button.pressed ~ .actions li:nth-child(4) {
        margin-top: -200px; }
      .report-action .menu-button.pressed ~ .actions li:nth-child(5) {
        margin-top: -248px; }
  .report-action .menu-button i {
    -webkit-transition: all .3s;
    transition: all .3s; }
  .report-action .menu-button.pressed:not(.no-rotate) i {
    -webkit-transform: scale(1.5) rotate(-45deg);
        -ms-transform: scale(1.5) rotate(-45deg);
            transform: scale(1.5) rotate(-45deg); }

button.menu-button {
  border: none; }

.info-wrapper {
  margin-top: 60px;
  font-size: 17px; }
  .info-wrapper .report-title {
    font-size: 30px;
    font-weight: 200;
    margin-top: 15px; }
    .info-wrapper .report-title i {
      font-size: 15px;
      padding-bottom: 5px; }
  .info-wrapper .report-date {
    font-size: 14px;
    margin-bottom: 5px;
    color: rgba(131, 137, 169, 0.7); }
  .info-wrapper .report-content {
    font-size: 16px;
    text-align: justify; }
  .info-wrapper .report-tags {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .info-wrapper .report-tags .tag {
    margin: 2.5px 0px;
    margin-right: 5px; }
  .info-wrapper .tags-input {
    min-height: 50px;
    margin-bottom: 15px; }

.faqs-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .faqs-wrapper .faqs-list {
    list-style: none;
    margin: 0px;
    padding: 0px; }
    .faqs-wrapper .faqs-list .no-results {
      text-align: center;
      height: 80px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7); }
  .faqs-wrapper .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px; }
    .faqs-wrapper .header h1 {
      text-align: center;
      font-size: 30px;
      font-weight: 700;
      width: 250px; }
      .faqs-wrapper .header h1 .subtitle {
        text-transform: uppercase;
        display: block;
        font-size: 20px; }
    .faqs-wrapper .header .filter-box {
      width: 200px; }
      .faqs-wrapper .header .filter-box input {
        -webkit-border-radius: 0px;
                border-radius: 0px; }
      .faqs-wrapper .header .filter-box #search-addon {
        -webkit-border-radius: 0px;
                border-radius: 0px;
        cursor: pointer; }

.hatespeech-wrapper {
  margin-top: 60px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .hatespeech-wrapper .hatespeech-encounter,
  .hatespeech-wrapper .hatespeech-timeline {
    padding: 10px; }
  .hatespeech-wrapper .bar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 5px 0px; }
    .hatespeech-wrapper .bar-container .chart-label {
      font-size: 15px;
      font-weight: 700;
      padding: 5px; }
    .hatespeech-wrapper .bar-container .chart-bar {
      background-color: #1565C0;
      display: inline-block; }
    .hatespeech-wrapper .bar-container .bar-percentage {
      padding: 5px;
      font-size: 13px;
      font-weight: 700; }
    .hatespeech-wrapper .bar-container .bar-0 {
      width: 0%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-5 {
      width: 5%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-10 {
      width: 10%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-15 {
      width: 15%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-20 {
      width: 20%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-25 {
      width: 25%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-30 {
      width: 30%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-35 {
      width: 35%;
      height: 20px;
      background-color: #56C1F9; }
    .hatespeech-wrapper .bar-container .bar-40 {
      width: 40%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-45 {
      width: 45%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-50 {
      width: 50%;
      height: 20px;
      background-color: rgba(21, 101, 192, 0.7); }
    .hatespeech-wrapper .bar-container .bar-55 {
      width: 55%;
      height: 20px;
      background-color: rgba(21, 101, 192, 0.7); }
    .hatespeech-wrapper .bar-container .bar-60 {
      width: 60%;
      height: 20px;
      background-color: rgba(21, 101, 192, 0.7); }
    .hatespeech-wrapper .bar-container .bar-65 {
      width: 65%;
      height: 20px;
      background-color: rgba(21, 101, 192, 0.7); }
    .hatespeech-wrapper .bar-container .bar-70 {
      width: 70%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-75 {
      width: 75%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-80 {
      width: 80%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-85 {
      width: 85%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-90 {
      width: 90%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-95 {
      width: 95%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-100 {
      width: 100%;
      height: 20px;
      background-color: #1565C0; }
    .hatespeech-wrapper .bar-container .bar-105 {
      width: 105%;
      height: 20px;
      background-color: #1565C0; }
  .hatespeech-wrapper h1 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0px;
    margin: 0px; }
  .hatespeech-wrapper .info {
    margin: 0px;
    margin-left: 10px;
    padding: 5px 0px;
    font-size: 15px;
    border: #1565C0 2px solid; }
  .hatespeech-wrapper .encountered {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    padding: 0px; }
  .hatespeech-wrapper .hatespeech-encounter .encountered i {
    color: #1565C0; }
    .hatespeech-wrapper .hatespeech-encounter .encountered i:nth-child(5) {
      color: #56C1F9; }
  .hatespeech-wrapper .attacked {
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    padding: 0px; }
  .hatespeech-wrapper .hatespeech-encounter .attacked i {
    color: #1565C0; }
    .hatespeech-wrapper .hatespeech-encounter .attacked i:nth-child(4), .hatespeech-wrapper .hatespeech-encounter .attacked i:nth-child(5) {
      color: #56C1F9; }
  .hatespeech-wrapper .list-countries {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hatespeech-wrapper .hate-country {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin: 10px 0px 5px 0px;
    font-size: 18px; }
    .hatespeech-wrapper .hate-country .country-name {
      text-align: left; }
    .hatespeech-wrapper .hate-country .first-country {
      margin-right: 10px;
      font-size: 50px;
      text-align: left; }
    .hatespeech-wrapper .hate-country .second-country {
      margin-right: 10px;
      font-size: 40px;
      text-align: left; }
    .hatespeech-wrapper .hate-country .third-country {
      margin-right: 10px;
      font-size: 30px;
      text-align: left; }
  .hatespeech-wrapper .categorized-chart {
    text-align: left; }
    .hatespeech-wrapper .categorized-chart .chart-label {
      width: 80px;
      font-size: 13px; }
  .hatespeech-wrapper .daily-hatespeech {
    background-color: #FFFFFF;
    padding-bottom: 10px;
    -webkit-box-shadow: rgba(2, 2, 2, 0.3) 0px 2px 5px 2px;
            box-shadow: rgba(2, 2, 2, 0.3) 0px 2px 5px 2px; }
    .hatespeech-wrapper .daily-hatespeech .hatespeech-count {
      text-align: center;
      font-size: 30px;
      padding: 50px;
      font-weight: 700;
      background-image: url("../img/social-networks.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat; }
  .hatespeech-wrapper .hatespeech-events .olympics {
    background-image: url("../img/olympics-rio.png");
    background-position: -3px 95px;
    background-size: contain;
    background-repeat: no-repeat; }
  .hatespeech-wrapper .hatespeech-events .elections {
    background-image: url("../img/us-elections.png");
    background-position: 0px 90px;
    background-size: contain;
    background-repeat: no-repeat; }
  .hatespeech-wrapper .hatespeech-events .event {
    border: #1565C0 2px solid;
    -webkit-box-shadow: rgba(2, 2, 2, 0.3) 0px 2px 5px 2px;
            box-shadow: rgba(2, 2, 2, 0.3) 0px 2px 5px 2px; }
    .hatespeech-wrapper .hatespeech-events .event .ct-series-a .ct-line,
    .hatespeech-wrapper .hatespeech-events .event .ct-series-a .ct-point {
      stroke: #1565C0 !important; }
    .hatespeech-wrapper .hatespeech-events .event .ct-series-b .ct-line,
    .hatespeech-wrapper .hatespeech-events .event .ct-series-b .ct-point {
      stroke: #56C1F9 !important; }
    .hatespeech-wrapper .hatespeech-events .event .ct-series-c .ct-line,
    .hatespeech-wrapper .hatespeech-events .event .ct-series-c .ct-point {
      stroke: #448AFF !important; }
    .hatespeech-wrapper .hatespeech-events .event .ct-label.ct-horizontal {
      margin-top: 5px; }
    .hatespeech-wrapper .hatespeech-events .event .ct-label.ct-vertical {
      margin-left: 0px; }
    .hatespeech-wrapper .hatespeech-events .event .ct-chart-line {
      margin: 0px; }
  .hatespeech-wrapper .hatespeech-events .event-title {
    font-size: 18px;
    background-color: #1565C0;
    color: #FAFAF8;
    padding: 10px; }
  .hatespeech-wrapper .hatespeech-events .event-duration {
    display: block;
    font-size: 14px;
    color: rgba(250, 250, 248, 0.5); }
  .hatespeech-wrapper .hatespeech-events .event-stats {
    padding: 0px 10px 10px 10px;
    text-align: justify; }
  .hatespeech-wrapper .hatespeech-events .hate-category-religion {
    font-weight: 700;
    color: #56C1F9;
    font-style: italic; }
  .hatespeech-wrapper .hatespeech-events .hate-category-ethnicity {
    font-weight: 700;
    color: #1565C0;
    font-style: italic; }
  .hatespeech-wrapper .hatespeech-events .hate-category-gender {
    font-weight: 700;
    color: #448AFF;
    font-style: italic; }

.loading-container {
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.loading-ball {
  width: 10px;
  height: 10px;
  margin: 10px auto;
  -webkit-border-radius: 50px;
          border-radius: 50px; }
  .loading-ball:nth-child(1) {
    background: #1565C0;
    -webkit-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out; }
  .loading-ball:nth-child(2) {
    background: #1E88E5;
    -webkit-animation: left 1.1s infinite ease-in-out;
    animation: left 1.1s infinite ease-in-out; }
  .loading-ball:nth-child(3) {
    background: #56C1F9;
    -webkit-animation: right 1.05s infinite ease-in-out;
    animation: right 1.05s infinite ease-in-out; }
  .loading-ball:nth-child(4) {
    background: #8389A9;
    -webkit-animation: left 1.15s infinite ease-in-out;
    animation: left 1.15s infinite ease-in-out; }
  .loading-ball:nth-child(5) {
    background: #2d3443;
    -webkit-animation: right 1.1s infinite ease-in-out;
    animation: right 1.1s infinite ease-in-out; }
  .loading-ball:nth-child(6) {
    background: #1565C0;
    -webkit-animation: left 1.05s infinite ease-in-out;
    animation: left 1.05s infinite ease-in-out; }
  .loading-ball:nth-child(7) {
    background: #1E88E5;
    -webkit-animation: right 1s infinite ease-in-out;
    animation: right 1s infinite ease-in-out; }

@-webkit-keyframes right {
  0% {
    -webkit-transform: translate(-15px); }
  50% {
    -webkit-transform: translate(15px); }
  100% {
    -webkit-transform: translate(-15px); } }

@-webkit-keyframes left {
  0% {
    -webkit-transform: translate(15px); }
  50% {
    -webkit-transform: translate(-15px); }
  100% {
    -webkit-transform: translate(15px); } }

@keyframes right {
  0% {
    -webkit-transform: translate(-15px);
            transform: translate(-15px); }
  50% {
    -webkit-transform: translate(15px);
            transform: translate(15px); }
  100% {
    -webkit-transform: translate(-15px);
            transform: translate(-15px); } }

@keyframes left {
  0% {
    -webkit-transform: translate(15px);
            transform: translate(15px); }
  50% {
    -webkit-transform: translate(-15px);
            transform: translate(-15px); }
  100% {
    -webkit-transform: translate(15px);
            transform: translate(15px); } }

.settings-wrapper {
  margin-top: 70px;
  font-size: 17px; }
  .settings-wrapper .settings-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px; }
    .settings-wrapper .settings-list hr {
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #CDCDCD;
      margin: 1em 0;
      padding: 0; }
    .settings-wrapper .settings-list .settings-item {
      padding: 0px 10px;
      cursor: pointer; }
      .settings-wrapper .settings-list .settings-item:hover + hr {
        border-top: 1px solid #1565C0; }
      .settings-wrapper .settings-list .settings-item .preview {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.5); }
    .settings-wrapper .settings-list .toggle-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }

.lang-wrapper {
  margin: 52px 0px 60px 0px; }

.lang-container {
  width: 100%; }

.lang-right {
  float: right;
  position: relative;
  top: 5px; }

.lang-top {
  margin-top: -1px; }

.lang-install-text {
  display: none; }

.lang-text {
  position: relative;
  top: 5px; }

#lang-ul {
  margin: 0 auto;
  padding: 0;
  overflow-y: hidden; }
  #lang-ul li {
    list-style: none;
    padding: 10px 15px 10px 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
    height: 50px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    color: black; }

.delete-icon:before {
  content: "\F00C";
  color: #1565C0;
  font-family: FontAwesome; }

.bootstrap-select .btn {
  font-size: 20px; }

.toggle-btn {
  width: 60px;
  height: 30px;
  margin: 10px;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: inline-block;
  position: relative;
  background-color: #8389A9;
  cursor: pointer;
  -webkit-transition: background-color 0.40s ease-in-out;
  transition: background-color 0.40s ease-in-out;
  cursor: pointer; }
  .toggle-btn.active {
    background-color: #1565C0; }
    .toggle-btn.active .round-btn {
      left: 32px; }
  .toggle-btn .round-btn {
    width: 25px;
    height: 25px;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 55%;
    margin-top: -15px;
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out; }
  .toggle-btn .cb-value {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
