html, body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 25px;
  margin: 0px;
}

body{
  height: 100vh;
}

.button{
  text-align: center;
  color: #FEFEFE;
  background-color: #EE2D4E;
  width: 5em;
  font-size: 2em;
  font-weight: 500;
  font-family: 'Monospace';
  padding: 10px;
  margin: 10px 0px;
  cursor: pointer;
  animation: floating 1.5s ease-in-out 0s infinite
}

@keyframes floating {
  0% {
      transform: scale(1.0);
  }
  50%{
      transform: scale(0.95);
  }
  100% {
      transform: scale(1.0);
  }
}
