.navbar
  background-color: $blueish
  border: none
  box-shadow: transparentize(black, 0.5) 0px 3px 3px

  .navbar-toggle
    border: none

    .icon-bar
      background-color: $whiton

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
  background-color: $blueish

.navbar-default .navbar-nav > li > a
  color: $whiton

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover
  background-color: $whiton
  color: $blackish

.back-button
  float: left
  padding: 6px 10px
  color: $whiton
  font-size: 15px
  visibility: hidden

  &.active
    visibility: visible

.page-title
  text-align: center
  padding: 12px 0px
  color: $whiton
  font-size: 18px
