<div class="report-wrapper">
  <form class="create-report">

    <div class="form-group">
      <label class="col-md-12 control-label" for="report-title">Title</label>
      <div class="col-md-12">
        <input id="report-title" required name="report-title" placeholder="Report Title e.g. Anti-Islamic content" class="form-control input-md" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-12 control-label" for="report-content">Content</label>
      <div class="col-md-12">
        <textarea class="form-control" required id="report-content" name="report-content"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-12 control-label" for="report-tags">Categories</label>
      <div class="col-md-12">
        <select class="selectpicker form-control" required id="report-tags" name="report-tags" multiple required title="Choose from the following...">
          <option>Religious</option>
          <option>Gender</option>
          <option>Sexual</option>
          <option>Class</option>
          <option>Politics</option>
          <option>Ethnicity</option>
          <option>Nationality</option>
          <option>Other</option>
        </select>
      </div>
    </div>

    <button type=submit class="menu-button">
      <i class="fa fa-check" aria-hidden="true"></i>
    </button>

  </form>
</div>

<script>
  $(function() {
    $('.selectpicker').selectpicker({
      style: 'btn-default',
      size: 12
    });
  });
</script>
