<div class="faqs-wrapper">
  <div class="header">
    <h1>FAQs<span class="subtitle">Frequently Asked Questions</span></h1>
    <div class="filter-box input-group">
      <input type="text" class="form-control" placeholder="Search FAQs.." aria-describedby="search-addon">
      <span class="input-group-addon" id="search-addon">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="container">
    <ul class="faqs-list ui styled fluid accordion">
      <li class="title">
        <i class="dropdown icon"></i>
        What is a dog?
      </li>
      <li class="content">
        <p>A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What kinds of dogs are there?
      </li>
      <li class="content">
        <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        How do you acquire a dog?
      </li>
      <li class="content">
        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What kinds of dogs are there?
      </li>
      <li class="content">
        <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        How do you acquire a dog?
      </li>
      <li class="content">
        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What kinds of dogs are there?
      </li>
      <li class="content">
        <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        How do you acquire a dog?
      </li>
      <li class="content">
        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What kinds of dogs are there?
      </li>
      <li class="content">
        <p>There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        How do you acquire a dog?
      </li>
      <li class="content">
        <p>Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
        <p>A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
      </li>
    </ul>
  </div>
</div>
