<div class="faqs-wrapper">
  <div class="header">
    <h1>FAQs<span class="subtitle">Frequently Asked Questions</span></h1>
    <div class="filter-box input-group">
      <input type="text" class="filter-input form-control" placeholder="Search FAQs.." aria-describedby="search-addon">
      <span class="input-group-addon" id="search-addon">
        <i class="fa fa-search" aria-hidden="true"></i>
      </span>
    </div>
  </div>
  <div class="container">
    <ul class="faqs-list ui styled fluid accordion">
      <li class="title">
        <i class="dropdown icon"></i>
        What is Hate Speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What is legally considered Hate Speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Who are the victims of hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
         I believe I have encountered hate speech. What can I do about it?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What does Freedom of Expression allow us to say?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Why words can be harmful and sometimes dangerous?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Is hate speech forbidden online?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Is Hate speech and hate crime the same thing?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        I believe I have been a target of hate speech? What are my rights as a victim?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Which legal protection against Hate Speech does exist within EU?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What are providers doing about online hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Who is liable for hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Who investigates online hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Which law applies to online hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What are the penalties for those found guilty of hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Which persons are entitled to initiate legal proceedings against authors of hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Are there any restrictions in freedom of speech for audio-visual service providers?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Which rules prevent a company to hire me or fire me based on grounds of race, sex, religion or nationality or to restrict me under any internal policy rules?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What is harmful content?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Why are some harmful contents not illegal?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        What is the difference between illegal content and potentially illegal?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        How does the Mandola project support activities against online hate speech?
      </li>
      <li class="content">
        <p></p>
      </li>
      <li class="title">
        <i class="dropdown icon"></i>
        Where can I find more information?
      </li>
      <li class="content">
        <p></p>
      </li>
    </ul>
  </div>
</div>
