<div class="faqs-wrapper hatespeech-wrapper">
    <div class="header">
      <h1>News Feeds<span class="subtitle faded">EU Countries Feeds on Hatespeech</span></h1>
      <div class="filter-box input-group">
          <input type="text" class="filter-input form-control" placeholder="Search Countries.." aria-describedby="search-addon">
          <span class="input-group-addon" id="search-addon">
            <i class="fa fa-search" aria-hidden="true"></i>
          </span>
        </div>
    </div>
    <div class="container">
      <ul class="faqs-list ui styled fluid accordion">
        <li class="title">Austria</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/CounterACT_Hass?ref_src=twsrc%5Etfw">Tweets by CounterACT_Hass</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Italy</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/unar_norazzismi?ref_src=twsrc%5Etfw">Tweets by unar_norazzismi</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Belgium</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/unia?ref_src=twsrc%5Etfw">Tweets by unia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Latvia</li>
        <li class="content">Feed not found</li>
        <li class="title">Bulgaria</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/SafenetBG?ref_src=twsrc%5Etfw">Tweets by SafenetBG</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Lithuania</li>
        <li class="content">Feed not found</li>
        <li class="title">Croatia</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/CNZD_cro?ref_src=twsrc%5Etfw">Tweets by CNZD_cro</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Luxembourg</li>
        <li class="content">
          <a class="twitter-timeline" data-lang="en" href="https://twitter.com/unia?ref_src=twsrc%5Etfw">Tweets by unia</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Cyprus</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/cyberethicscy?ref_src=twsrc%5Etfw">Tweets by cyberethicscy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Malta</li>
        <li class="content">Feed not found</li>
        <li class="title">Czech Republic</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/stoponline?ref_src=twsrc%5Etfw">Tweets by stoponline</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Netherlands</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/MiNDNederland?ref_src=twsrc%5Etfw">Tweets by MiNDNederland</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Denmark</li>
        <li class="content">Feed not found</li>
        <li class="title">Poland</li>
        <li class="content">Feed not found</li>
        <li class="title">Estonia</li>
        <li class="content">Feed not found</li>
        <li class="title">Portugal</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/LinhaAlerta?ref_src=twsrc%5Etfw">Tweets by LinhaAlerta</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Finland</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/RedCrossEU?ref_src=twsrc%5Etfw">Tweets by RedCrossEU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Romania</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/ROSalvatiCopiii?ref_src=twsrc%5Etfw">Tweets by ROSalvatiCopiii</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">France</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/PointdeContact?ref_src=twsrc%5Etfw">Tweets by PointdeContact</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Slovakia</li>
        <li class="content">Feed not found</li>
        <li class="title">Germany</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/jugendschutznet?ref_src=twsrc%5Etfw">Tweets by jugendschutznet</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Slovenia</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/spletnooko?ref_src=twsrc%5Etfw">Tweets by spletnooko</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Greece</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/safeline_gr?ref_src=twsrc%5Etfw">Tweets by safeline_gr</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Spain</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/fundacion_alia2?ref_src=twsrc%5Etfw">Tweets by fundacion_alia2</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Hungary</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/hattertarsasag?ref_src=twsrc%5Etfw">Tweets by hattertarsasag</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">Sweden</li>
        <li class="content">Feed not found</li>
        <li class="title">Ireland</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/CounterACT_Hass?ref_src=twsrc%5Etfw">Tweets by CounterACT_Hass</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
        <li class="title">United Kingdom</li>
        <li class="content">
            <a class="twitter-timeline" data-lang="en" href="https://twitter.com/TellMamaUK?ref_src=twsrc%5Etfw">Tweets by TellMamaUK</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
        </li>
      </ul>
    </div>
  </div>
    