<div class="hatespeech-wrapper">
  <div class="container">
    <div class="hatespeech-encounter">
      <h1>Hate-speech Encounters</h1>
      <div class="encountered">
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
      </div>
      <div class="info">4 out of 5 ecounter online hate-speech.</div>
      <hr>
      <div class="attacked">
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
        <i class="fa fa-male" aria-hidden="true"></i>
      </div>
      <div class="info">2 out of 5 have personally felt attacked.</div>
    </div>
    <hr>
    <div class="hatepseech-timeline">
      <h1>Global Hate-speech</h1>
      <div class="year-chart">
        <div class="bar-container">
          <span class="chart-label">2014</span>
          <span class="chart-bar bar-30"></span>
          <span class="bar-percentage">30%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">2015</span>
          <span class="chart-bar bar-55"></span>
          <span class="bar-percentage">55%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">2016</span>
          <span class="chart-bar bar-70"></span>
          <span class="bar-percentage">70%</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="categorized-2016">
      <h1>2016 Categorized Hate-speech</h1>
      <div class="categorized-chart">
        <div class="bar-container">
          <span class="chart-label">Ethnicity</span>
          <span class="chart-bar bar-50"></span>
          <span class="bar-percentage">50%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">Nationality</span>
          <span class="chart-bar bar-15"></span>
          <span class="bar-percentage">15%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">Gender</span>
          <span class="chart-bar bar-45"></span>
          <span class="bar-percentage">45%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">Sexual</span>
          <span class="chart-bar bar-10"></span>
          <span class="bar-percentage">10%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">Disability</span>
          <span class="chart-bar bar-30"></span>
          <span class="bar-percentage">30%</span>
        </div>
        <div class="bar-container">
          <span class="chart-label">Religion </span>
          <span class="chart-bar bar-65"></span>
          <span class="bar-percentage">65%</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="top-countries">
      <h1>Countries with most Hate-speech in 2016</h1>
      <div class="list-countries">
        <div class="row hate-country">
          <div class="col-xs-2"></div>
          <div class="col-xs-4">
            <span class="first-country flag-icon flag-icon-us"></span>
          </div>
          <div class="col-xs-4 country-name">U.S.A.</div>
          <div class="col-xs-2"></div>
        </div>
        <div class="row hate-country">
          <div class="col-xs-2"></div>
          <div class="col-xs-4">
            <span class="second-country flag-icon flag-icon-gb"></span>
          </div>
          <div class="col-xs-4 country-name">U.K.</div>
          <div class="col-xs-2"></div>
        </div>
        <div class="row hate-country">
          <div class="col-xs-2"></div>
          <div class="col-xs-4">
            <span class="third-country flag-icon flag-icon-br"></span>
          </div>
          <div class="col-xs-4 country-name">Brasil</div>
          <div class="col-xs-2"></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="daily-hatespeech">
      <h1>Daily Hatespeech in social networks and web sites</h1>
      <div class="hatespeech-count">
        1500000
      </div>
    </div>
    <hr>
    <div class="hatespeech-events">
      <h1>2016 Important Events Hate-speech Correlations</h1>
      <div class="olympics event">
        <div class="event-title">Rio Olympics 2016<span class="event-duration">August 5th - 21st</span></div>
        <div class="olympic-chart ct-chart ct-perfect-fourth"></div>
        <div class="event-stats">
          During the Rio 2016 Olympic games there was a huge raise in online hate-speech considering the categories of <span class="hate-category-ethnicity">ethnicity</span> with 60%, and <span class="hate-category-religion">religion</span> with 40%.
        </div>
      </div>
      <hr>
      <div class="elections event">
        <div class="event-title">U.S. Presidential Elections 2016<span class="event-duration">January 6th - November 9th</span></div>
        <div class="election-chart ct-chart ct-perfect-fourth"></div>
        <div class="event-stats">
          During the 2016 U.S. Persidential Elections, from January to November, there was a huge raise in online hate-speech considering the categories of <span class="hate-category-ethnicity">ethnicity</span> with 60%, <span class="hate-category-religion">religion</span> with 50% and <span class="hate-category-gender">gender</span> with 65%.
        </div>
      </div>
    </div>
  </div>
</div>
