<div class="info-wrapper">
  <div class="info">

    <div class="row">
      <div class="col-md-12">
        <div class="report-title">Hatespeech Title</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="report-date">12 December 2016</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="report-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="report-tags">
          <span class="label label-primary">Religious</span>
          <span class="label label-primary">Ethnicity</span>
          <span class="label label-primary">Gender</span>
        </div>
      </div>
    </div>

  </div>
</div>
