<div class="report-wrapper">
    <div class="container">
        <div class="list-view">
            <ul class="list"></ul>
        </div>

        <div class='sort-action hidden'>
            <button class='sort-button'><i class='fa fa-bars'></i></button>
            <ul class='actions'>
              <li><a id="report-sort-desc-btn"><i class="fa fa-sort-amount-desc" aria-hidden="true"></i></a></li>
              <li><a id="report-sort-asc-btn"><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></a></li>
              <li><a id="report-search-btn"><i class="fa fa-search" aria-hidden="true"></i></a></li>
              <li><a id="report-group-by-host-btn"><i class="fa fa-server" aria-hidden="true"></i></a></li>
            </ul>
        </div>

        <div class="report-methods">
            <div style="border-right: 1px solid;" class="report-method report-simple">Report URL</div>
            <div class="report-method report-proxy">Report via Proxy</div>
            <div style="border-left: 1px solid;" class="report-method report-screenshot">Report via OCR</div>
        </div>

        <!-- <div class='report-action'>
            <button class='menu-button'>Report</i></button>
             <ul class='actions'>
              <li><a id="image-btn"><i class="fa fa-eye" aria-hidden="true"></i></a></li>
              <li><a id="browser-btn"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
            </ul> 
        </div> -->

    </div>
</div>
