<div class="report-wrapper">
  <div class="list-view">
    <ul class="list">
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>

      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
      </li>
      <li class="report-item">
        <div class="source-icon"></div>
        <div class="report-info">
          <div class="report-title">Hate-speech title</div>
          <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
          <div class="report-date">December 2016</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="menu-button">
    <a href="#"></a>
    <a href="#" id="browser-btn"></a>
    <a href="#" id="image-btn"></a>
  </div>
</div>
