<div class="report-wrapper">
  <div class="container">
    <div class="list-view">
      <ul class="list">
        <li id="1342135452" data-url="http://www.google.com" class="report-item">
          <div class="source-icon">
            <i class="report-browser fa fa-3x fa-globe" aria-hidden="true"></i>
          </div>
          <div class="report-info">
            <div class="report-title">Hate-speech title</div>
            <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
            <div class="report-date">December 2016</div>
          </div>
        </li>
        <li id="13465435452" data-url="http://www.facebook.com" class="report-item">
          <div class="source-icon">
            <i class="report-browser fa fa-3x fa-globe" aria-hidden="true"></i>
          </div>
          <div class="report-info">
            <div class="report-title">Hate-speech title</div>
            <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
            <div class="report-date">December 2016</div>
          </div>
        </li>
          <li id="13323435452" data-url="http://www.doesnotexists.net" class="report-item">
          <div class="source-icon">
            <i class="report-browser fa fa-3x fa-globe" aria-hidden="true"></i>
          </div>
          <div class="report-info">
            <div class="report-title">Hate-speech title</div>
            <div class="report-content">Lorem ipsum dolor amet, consectetur...</div>
            <div class="report-date">December 2016</div>
          </div>
        </li>
      </ul>
    </div>

    <div class="menu-button">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <a href="#" id="image-btn">
        <i class="fa fa-eye" aria-hidden="true"></i>
      </a>
      <a href="#" id="browser-btn">
        <i class="fa fa-globe" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
