<div class="settings-wrapper">
    <div class="settings-container container">
        <ul class="settings-list">
            <li id="usage" class="settings-item simple-item">
                <div class="title">Usage</div>
                <div class="preview">Report usage for several applications.</div>
                <hr>
            </li>
            <li id="default-ocr-language" class="settings-item simple-item">
                <div class="title">Default OCR language</div>
                <div class="preview">English</div>
                <hr>
            </li>
            <li class="settings-item">
              <div class="toggle-item">
                <div class="toggle-wrapper">
                    <div class="title">Hatespeech analysis</div>
                    <div class="preview">Perform analysis on report</div>
                </div>
                <div class="toggle-btn active">
                    <input id="mandola-analysis-checkbox" type="checkbox" checked class="cb-value">
                    <span class="round-btn"></span>
                </div>
              </div>
              <hr>
            </li>
            <li class="settings-item">
              <div class="toggle-item">
                <div class="toggle-wrapper">
                    <div class="title">Enable MANDOLA bubble</div>
                    <div class="preview">MANDOLA background mode</div>
                </div>
                <div class="toggle-btn">
                    <input id="mandola-background" type="checkbox" checked class="cb-value">
                    <span class="round-btn"></span>
                </div>
              </div>
            </li>
        </ul>
    </div>
</div>
