<div class="settings-wrapper">
    <div class="settings-container container">
        <ul class="settings-list">
            <li id="default-ocr-language" class="settings-item simple-item">
                <div class="title">Default OCR language</div>
                <div class="preview">English</div>
                <hr>
            </li>
            <li id="ocr-languages" class="settings-item simple-item">
                <div class="title">Manage languages for OCR</div>
                <div class="preview">Install or uninstall languages for the OCR</div>
                <hr>
            </li>
            <li class="settings-item toggle-item">
                <div class="toggle-wrapper">
                    <div class="title">Hatespeech analysis</div>
                    <div class="preview">Perform analysis on report</div>
                </div>
                <div class="toggle-btn active">
                    <input id="mandola-analysis-checkbox" type="checkbox" checked class="cb-value">
                    <span class="round-btn"></span>
                </div>
            </li>
            <hr>
            <li class="settings-item toggle-item">
                <div class="toggle-wrapper">
                    <div class="title">Keep image data</div>
                    <div class="preview">Keep cropped images from OCR</div>
                </div>
                <div class="toggle-btn active">
                    <input id="keep-cropped-checkbox" type="checkbox" checked class="cb-value">
                    <span class="round-btn"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
