<div class="usage-wrapper">
    <div class="usage-container container">
        <ul class="usage-list">
            <li id="browser-usage" class="usage-item">
                <div class="usage-content">
                  <div class="usage-logo">
                    <i class="fa fa-chrome fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="usage-info">
                    <div class="title">Chrome Mobile Browser</div>
                    <div class="preview">Report usage for Chrome mobile browser.</div>
                  </div>
                </div>
                <hr>
            </li>
            <li id="twitter-usage" class="usage-item">
                <div class="usage-content">
                  <div class="usage-logo">
                    <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="usage-info">
                <div class="title">Twitter Native Application</div>
                <div class="preview">Report usage for Twitter native application.</div>
              </div>
            </div>
                <hr>
            </li>
            <li id="facebook-usage" class="usage-item">
                <div class="usage-content">
                  <div class="usage-logo">
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="usage-info">
                <div class="title">Facebook Native Application</div>
                <div class="preview">Report usage for Facebook native application.</div>
              </div>
            </div>
                <hr>
            </li>
            <li id="youtube-usage" class="usage-item">
                <div class="usage-content">
                  <div class="usage-logo">
                    <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                  </div>
                  <div class="usage-info">
                <div class="title">Youtube Native Application</div>
                <div class="preview">Report usage for Youtube native application.</div>
              </div>
            </div>
            </li>
        </ul>
    </div>
</div>
