<?xml version='1.0' encoding='utf-8'?>
<plugin id="urlcopynotification" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>URLCopyNotification</name><js-module name="URLCopyNotification" src="www/URLCopyNotification.js"><clobbers target="cordova.plugins.URLCopyNotification" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="URLCopyNotification"><param name="ios-package" value="URLCopyNotification" /></feature></config-file><source-file src="src/ios/URLCopyNotification.m" /></platform></plugin>