body {
  background-color: #303C4C; }

.hatespeech-wrapper,
.report-wrapper,
.faqs-wrapper {
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  margin-top: 60px; }

.list {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.navbar {
  background-color: #56C1F9;
  border: none; }
  .navbar .navbar-toggle {
    border: none; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #FAFAF8; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #56C1F9; }

.navbar-default .navbar-nav > li > a {
  color: #FAFAF8; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: #FAFAF8;
  color: #303C4C; }

.list .report-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: #FAFAF8;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px; }
  .list .report-item .source-icon {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #AB434E;
    margin-right: 15px; }
  .list .report-item .report-info .report-title {
    font-weight: bolder;
    color: #303C4C; }
  .list .report-item .report-info .report-content {
    color: #303C4C; }
  .list .report-item .report-info .report-date {
    color: #8389A9; }

.menu-button {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 75px;
  height: 75px;
  text-align: center;
  line-height: 60px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #56C1F9;
  color: #FAFAF8;
  font-size: 24px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  cursor: pointer; }
  .menu-button:hover {
    background-color: #52c0f9;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25); }
  .menu-button a {
    -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
    opacity: 0;
    width: 0px;
    height: 0px;
    text-align: center;
    line-height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    color: #FAFAF8;
    font-size: 24px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer; }
    .menu-button a:hover {
      -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
              box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25); }
    .menu-button a:nth-child(2) {
      -webkit-transition-delay: 0.3s;
              transition-delay: 0.3s;
      position: absolute;
      right: 30px;
      bottom: 30px;
      background: #76DF8A; }
    .menu-button a:nth-child(3) {
      -webkit-transition-delay: 0.4s;
              transition-delay: 0.4s;
      position: absolute;
      right: 30px;
      bottom: 30px;
      background: #76DF8A; }
  .menu-button:hover a {
    opacity: 1;
    width: 50px;
    height: 50px; }
    .menu-button:hover a:nth-child(2) {
      right: 80px;
      bottom: 0px; }
      .menu-button:hover a:nth-child(2):hover {
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
        background: #56C1F9; }
    .menu-button:hover a:nth-child(3) {
      right: 65px;
      bottom: 65px; }
      .menu-button:hover a:nth-child(3):hover {
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
        background: #56C1F9; }

@media screen and (max-width: 400px) {
  h1 {
    padding: 15px;
    font-size: 25px; } }
